ENAVAMSHI GADIKOTA
enavamshi@outlook.in

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><span><a href="#importing-Libraries" data-toc-modified-id="importing-Libraries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>importing Libraries</a></span></li><li><span><a href="#Loading-Data" data-toc-modified-id="Loading-Data-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Loading Data</a></span></li></ul></li><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Null-value-Treatment" data-toc-modified-id="Null-value-Treatment-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Null value Treatment</a></span><ul class="toc-item"><li><span><a href="#General-Imputation" data-toc-modified-id="General-Imputation-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>General Imputation</a></span></li><li><span><a href="#Imputation-using-Functions" data-toc-modified-id="Imputation-using-Functions-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Imputation using Functions</a></span></li></ul></li></ul></li><li><span><a href="#Data-Split-for-validation" data-toc-modified-id="Data-Split-for-validation-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Split for validation</a></span></li><li><span><a href="#Model-Building" data-toc-modified-id="Model-Building-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Model Building</a></span><ul class="toc-item"><li><span><a href="#Linear-Regression" data-toc-modified-id="Linear-Regression-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Linear Regression</a></span><ul class="toc-item"><li><span><a href="#Ridge-Regression" data-toc-modified-id="Ridge-Regression-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Ridge Regression</a></span><ul class="toc-item"><li><span><a href="#Lasso-Regression" data-toc-modified-id="Lasso-Regression-4.1.1.1"><span class="toc-item-num">4.1.1.1&nbsp;&nbsp;</span>Lasso Regression</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Loan Interest Rate Prediction

## Introduction

### importing Libraries

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns

### Loading Data

In [4]:
#Considering values with 'n/a' and '.' as nulls
lntrn=pd.read_csv('loan_data_train.csv',na_values=['n/a','.']) 
lntst=pd.read_csv('loan_data_test.csv',na_values=['n/a','.'])

In [6]:
lntrn.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000.0,25000.00,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11.0,15210.0,3.0,5 years
1,75473.0,19750.0,19750.00,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14.0,19070.0,3.0,4 years
2,67265.0,2100.0,2100.00,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13.0,893.0,1.0,< 1 year
3,80167.0,28000.0,28000.00,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12.0,38194.0,1.0,10+ years
4,17240.0,24250.0,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6.0,31061.0,2.0,10+ years

## Data Preprocessing

In [7]:
# Preparing to concate the test and train data to perform preprocessing calculations
lntst['Interest.Rate']=np.nan

lntst['Data']='test'

lntrn['Data']='train'

lntst.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Interest.Rate,Data
0,20093,5000,5000.0,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13.0,7686,0,< 1 year,NaN,test
1,62445,18000,18000.0,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6.0,11596,0,10+ years,NaN,test
2,65248,7200,7200.0,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13.0,7283,0,6 years,NaN,test
3,81822,7200,7200.0,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14.0,4838,0,10+ years,NaN,test
4,57923,22000,22000.0,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9.0,20181,0,8 years,NaN,test

In [8]:
lntst=lntst[lntrn.columns]

In [9]:
lntst.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,Data
0,20093,5000,5000.0,NaN,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13.0,7686,0,< 1 year,test
1,62445,18000,18000.0,NaN,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6.0,11596,0,10+ years,test
2,65248,7200,7200.0,NaN,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13.0,7283,0,6 years,test
3,81822,7200,7200.0,NaN,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14.0,4838,0,10+ years,test
4,57923,22000,22000.0,NaN,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9.0,20181,0,8 years,test

In [10]:
lncmb=pd.concat([lntrn,lntst],sort=False)

In [11]:
lncmb[lncmb['Interest.Rate'].isnull()].shape

(300, 16)

In [12]:
lncmb.shape

(2500, 16)

lncmb['Loan.Length']=lncmb['Loan.Length'].str.replace(' months','')

In [13]:
for i in ['Interest.Rate','Debt.To.Income.Ratio']:
    lncmb[i]=lncmb[i].str.replace('%','')

In [14]:
lncmb['Amount.Requested'].dropna(inplace=True)

In [15]:
lncmb['Amount.Requested'].isnull().sum()

0

In [16]:
# pd.to_numeric(lncmb['Amount.Requested'])
lncmb['Amount.Requested'].astype('int').head()

0    25000
1    19750
2     2100
3    28000
4    24250
Name: Amount.Requested, dtype: int32

In [17]:
for i in ['Interest.Rate','Debt.To.Income.Ratio','Monthly.Income','Open.CREDIT.Lines','Revolving.CREDIT.Balance','Inquiries.in.the.Last.6.Months']:
    lncmb[i]=lncmb[i].astype(float)

In [18]:
# Removing the alphanumeric characters from the data
lncmb['Employment.Length'].unique()

array(['5 years', '4 years', '< 1 year', '10+ years', nan, '2 years',
       '8 years', '1 year', '6 years', '7 years', '3 years', '9 years'],
      dtype=object)

In [19]:
lncmb['Employment.Length'].size

2500

for j in range(1,lncmb['Employment.Length'].size):
    for i in ['<','>',' years','+ years',' year']:
        lncmb['Employment.Length'][j]=lncmb['Employment.Length'][j].str.replace(i,'')

In [20]:
lncmb['Employment.Length']=lncmb['Employment.Length'].str.replace('<','')
lncmb['Employment.Length']=lncmb['Employment.Length'].str.replace('>','')
lncmb['Employment.Length']=lncmb['Employment.Length'].str.replace(' years','')
lncmb['Employment.Length']=lncmb['Employment.Length'].str.replace(' year','')
# lncmb['Employment.Length']=lncmb['Employment.Length'].str.replace('+ years','')

In [21]:
lncmb['Employment.Length']=np.where(lncmb['Employment.Length'].str[:2]=='10',10,lncmb['Employment.Length'])

In [22]:
lncmb['Employment.Length']=lncmb['Employment.Length'].astype(float)

ary=list(lncmb['FICO.Range'])
ar=[]
for i in range(len(ary)):
    ary1,ary2=ary[i].split('-')
    a=(ary1+ary2)/2
    ar.append(a)

In [23]:
k = lncmb['FICO.Range'].str.split('-',expand=True).astype(float)
lncmb['FICO'] = 0.5*(k[0]+k[1])
del lncmb['FICO.Range']

In [24]:
lncmb['Home.Ownership'].unique()

array(['MORTGAGE', 'OWN', 'RENT', 'OTHER', nan, 'NONE'], dtype=object)

In [25]:
cat_col=lncmb.select_dtypes(['object']).columns
cat_col=cat_col[:-1]
cat_col

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [26]:
for col in cat_col:
    freqs=lncmb[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        lncmb[name]=(lncmb[col]==cat).astype(int)
    del lncmb[col]
    print(col)

Loan.Length
Loan.Purpose
State
Home.Ownership

In [27]:
lncmb.shape

(2500, 53)

In [28]:
lncmb.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_OK,Home.Ownership_MORTGAGE,Home.Ownership_RENT
0,79542.0,25000.0,25000.00,18.49,27.56,8606.56,11.0,15210.0,3.0,5.0,...,0,0,0,0,0,0,0,0,1,0
1,75473.0,19750.0,19750.00,17.27,13.39,6737.50,14.0,19070.0,3.0,4.0,...,0,0,0,0,0,0,0,0,1,0
2,67265.0,2100.0,2100.00,14.33,3.50,1000.00,13.0,893.0,1.0,1.0,...,0,0,0,0,0,0,1,0,0,0
3,80167.0,28000.0,28000.00,16.29,19.62,7083.33,12.0,38194.0,1.0,10.0,...,0,1,0,0,0,0,0,0,1,0
4,17240.0,24250.0,17431.82,12.23,23.79,5833.33,6.0,31061.0,2.0,10.0,...,0,0,0,0,0,0,0,0,1,0

In [29]:
# checking those columns whose null value count is >0
c=lncmb.isnull().sum()
c[c>0]

ID                                  1
Amount.Requested                    5
Amount.Funded.By.Investors          5
Interest.Rate                     300
Debt.To.Income.Ratio                1
Monthly.Income                      3
Open.CREDIT.Lines                   9
Revolving.CREDIT.Balance            5
Inquiries.in.the.Last.6.Months      3
Employment.Length                  80
dtype: int64

### Null value Treatment

#### General Imputation

# General python code imputation, by mean since all of them are numerical columns

for col in lncmb.columns:
    if(col not in ['Interest.Rate','Data'])&(lncmb[col].isnull().sum()>0):
        lncmb.loc[lncmb[col].isnull(),col]=lncmb.loc[lncmb['Data']=='train',col].mean()

#### Imputation using Functions

In [51]:
# Excluding the dependent variable and test-train identifier variable data
cols=list(lncmb.columns)
cols.remove('Interest.Rate')
cols.remove('Data')

In [53]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='mean',verbose=1)
lncmb[cols]=si.fit_transform(lncmb[cols])

In [57]:
lncmb.isnull().sum()

ID                                   0
Amount.Requested                     0
Amount.Funded.By.Investors           0
Interest.Rate                      300
Debt.To.Income.Ratio                 0
Monthly.Income                       0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
Data                                 0
FICO                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_MN                             0
State_AL                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_OK                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

From the above observations we could see no null values, except for  the dependent variable of test data.

## Data Split for validation

In [60]:
lntrn=lncmb[(lncmb['Data']=='train')]
del lntrn['Data']

In [61]:
lntst=lncmb[lncmb['Data']=='test']
del lntst['Data']
del lntst['Interest.Rate']

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
lntrn1,lntrn2=train_test_split(lntrn,test_size=0.2,random_state=2)

In [64]:
x_train1=lntrn1.drop('Interest.Rate',axis=1)
y_train1=lntrn1['Interest.Rate']

## Model Building

### Linear Regression

In [65]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()

In [66]:
lm.fit(x_train1,y_train1)
# x_train1.info()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [67]:
pred1=lm.predict(x_train1)
pred1

array([19.37673342, 12.20972053,  5.51140104, ..., 14.41959129,
       15.84726718, 15.64910081])

In [72]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_train1,pred1)

1.565545612827949

In [73]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_train1,pred1)

4.064261186918386

In [74]:
intercept1=lm.intercept_
intercept1

75.86203620196666

In [75]:
x_train2=lntrn2.drop('Interest.Rate',axis=1)
y_train2=lntrn2['Interest.Rate']

In [76]:
lm.fit(x_train2,y_train2)
# x_train1.info()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [79]:
pred2=lm.predict(x_train2)
pred2[:5]

array([20.01583282, 15.67556492,  9.12757475, 10.99563932, 16.21612195])

In [80]:
lm.intercept_

74.74366786451421

In [82]:
list(zip(x_train1.columns,lm.coef_))[:5]

[('ID', 2.115293124887551e-07),
 ('Amount.Requested', -4.758329237495375e-05),
 ('Amount.Funded.By.Investors', 0.0002233900825196779),
 ('Debt.To.Income.Ratio', 0.014341247357187422),
 ('Monthly.Income', -4.5966333413541283e-07)]

In [83]:
mean_absolute_error(y_train2,pred2)

1.4640896134426795

In [84]:
mean_squared_error(y_train2,pred2)

3.5185742321999163

In [85]:
x_train=lntrn.drop('Interest.Rate',axis=1)
y_train=lntrn['Interest.Rate']

#### Ridge Regression

In [88]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [89]:
lambdas=np.linspace(1,100,100)

In [90]:
params={'alpha':lambdas}

In [91]:
model=Ridge(fit_intercept=True)

In [92]:
gridsearch=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [93]:
gridsearch.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,...
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [94]:
gridsearch.best_estimator_

Ridge(alpha=28.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [95]:
ypred_rdg=gridsearch.predict(x_train)
ypred_rdg

array([16.67299063, 16.59223865, 12.76190864, ..., 19.41246086,
       19.66832787, 10.55839327])

In [96]:
test_pred=gridsearch.predict(lntst)

In [97]:
test_pred.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

pd.DataFrame(test_pred).to_csv('mysubmission.csv',index=False)

##### Lasso Regression

In [100]:
from sklearn.linear_model import Lasso

In [101]:
lambdas=np.linspace(1,10,100)

In [102]:
model=Lasso(fit_intercept=True)

In [103]:
params={'alpha':lambdas}

In [104]:
gridsearch2=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [105]:
gridsearch2.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([ 1.        ,  1.09090909,  1.18181818,  1.27272727,  1.36363636,
        1.45454545,  1.5454...
        7.81818182,  7.90909091,  8.        ,  8.09090909,  8.18181818,
        8.27272727,  8.36363636,  8.45454545,  8.54545455,  8.63636364,
        8.72727273,  8.81818182,  8.90909091,  9.        ,  9.09090909,
        9.18181818,  9.27272727,  9.36363636,  9.45454545,  9.54545455,
        9.63636364,  9.72727273,  9.81818182,  9.90909091, 10.        ])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [106]:
gridsearch2.best_estimator_

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [107]:
lambdas=np.linspace(0.001,2,100)

In [108]:
model=Lasso(fit_intercept=True)

In [109]:
params={'alpha':lambdas}

In [110]:
gridsearch3=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [111]:
gridsearch3.fit(x_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'alpha': array([1.00000000e-03, 2.11919192e-02, 4.13838384e-02, 6.15757576e-02,
       8.17...
       1.61635354e+00, 1.63654545e+00, 1.65673737e+00, 1.67692929e+00,
       1.69712121e+00, 1.71731313e+00, 1.73750505e+00, 1.75769697e+00,
       1.77788889e+00, 1.79808081e+00, 1.81827273e+00, 1.83846465e+00,
       1.85865657e+00, 1.87884848e+00, 1.89904040e+00, 1.91923232e+00,
       1.93942424e+00, 1.95961616e+00, 1.97980808e+00, 2.00000000e+00])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [112]:
gridsearch3.best_estimator_

Lasso(alpha=0.021191919191919192, copy_X=True, fit_intercept=True,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)