In [64]:
# importing the reequired lilbraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns=None
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
import warnings
warnings.filterwarnings('ignore')

In [65]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [66]:
train['data']='train'
test['data']='test'

In [67]:
cond1=train['Sales(In ThousandDollars)'].isnull()==False
train=train[cond1]

In [68]:
cons=pd.concat([train,test])

In [69]:
cons.shape

(240, 5)

In [70]:
cons.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 35
Data columns (total 5 columns):
Year                         240 non-null int64
Month                        240 non-null int64
ProductCategory              240 non-null object
Sales(In ThousandDollars)    204 non-null float64
data                         240 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 11.2+ KB

Now the consolidated dataset is ready we gotta import the next dataset called macro_economic where all econimic details are present

In [71]:
mc=pd.read_excel('macro_economic.xlsx',na_values=['?'])

In [72]:
newcols=['year','month']
mc[['year','month']]=pd.DataFrame(mc['Year-Month'].str.split('-').tolist(),columns=newcols)

In [73]:
cols=['year',
       'month','Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'PartyInPower',
       'unemployment rate', 'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports']

In [74]:
mc=mc[cols]

In [75]:
mc.head()

,year,month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009,Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137.0,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
1,2009,Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200.0,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
2,2009,Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,NaN,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
3,2009,Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214.0,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225
4,2009,May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,NaN,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300

In [76]:
lstmonths=[' Jan', ' Feb', ' Mar', ' Apr', ' May', ' Jun', ' Jul', ' Aug',
       ' Sep', ' Oct', ' Nov', ' Dec']
j=1
for i in lstmonths:
    mc['month'].replace(i,j,inplace=True)
    j=j+1

In [77]:
mc.select_dtypes('object').columns

Index(['year', 'PartyInPower'], dtype='object')

In [78]:
mc['year']=mc.year.astype('int64')
mc.select_dtypes('object').columns

Index(['PartyInPower'], dtype='object')

In [79]:
mc['PartyInPower'].unique()

array(['Democrats'], dtype=object)

In [80]:
#  Since there is only one unique column in the PartyIn Power we gotta remove that column
mc=mc.drop('PartyInPower',axis=1)

In [81]:
comb=pd.merge(mc, cons, left_on=['year','month'], right_on=['Year','Month'])

In [82]:
comb.shape

(240, 23)

In [83]:
comb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 239
Data columns (total 23 columns):
year                                                                 240 non-null int64
month                                                                240 non-null int64
Monthly Nominal GDP Index (inMillion$)                               240 non-null float64
Monthly Real GDP Index (inMillion$)                                  240 non-null float64
CPI                                                                  240 non-null float64
unemployment rate                                                    240 non-null float64
CommercialBankInterestRateonCreditCardPlans                          240 non-null float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    240 non-null float64
Earnings or wages  in dollars per hour                               240 non-null float64
AdvertisingExpenses (in Thousand Dollars)                            28 non-null float64
Cotton Monthly Price - US cents per Pound(lbs)                       240 non-null float64
Change(in%)                                                          240 non-null float64
Average upland planted(million acres)                                240 non-null float64
Average upland harvested(million acres)                              240 non-null float64
yieldperharvested acre                                               240 non-null int64
Production (in  480-lb netweright in million bales)                  240 non-null float64
Mill use  (in  480-lb netweright in million bales)                   240 non-null float64
Exports                                                              240 non-null float64
Year                                                                 240 non-null int64
Month                                                                240 non-null int64
ProductCategory                                                      240 non-null object
Sales(In ThousandDollars)                                            204 non-null float64
data                                                                 240 non-null object
dtypes: float64(16), int64(5), object(2)
memory usage: 45.0+ KB

We found there are only 28 values in the Advertising expenses column

Checking if we can impute the missing values of AdvertisingExpenses (in Thousand Dollars)
by linear regression if there is some correlation with predictor variable Sales

# Selecting only those values where 
Xa=comb[comb['AdvertisingExpenses (in Thousand Dollars)'].isnull()==False]
plt.figure(figsize=(15,15))
sns.heatmap(Xa.corr(),annot=True)

From the above heatmap we can see that there is poor correlation between advertisements and sales i.e.,0.13
since its not impacting the sales, its of less importance so we decide to drop it.

In [84]:
comb=comb.drop('AdvertisingExpenses (in Thousand Dollars)',axis=1)

we could see that the year and month columns repeat twice after merging so we gotta delete those extra columns

In [85]:
comb.drop(['Year','Month'],inplace=True,axis=1)

plt.figure(figsize=(15,15))
sns.heatmap(comb.corr(),annot=True)

In [86]:
comb['year']=comb['year'].astype('object')
comb['month']=comb['month'].astype('object')

In [87]:
# Storing the combined dataset which is processed into a new variable for further usage
comb_other=comb
# comb_other.head()

In [88]:
# creating one hot encoding for ProductCategory and removing the original column from the dataset
obj=comb.select_dtypes('object').columns
obj=obj[:-1]
dumcols=pd.get_dummies(comb[obj])
comb=pd.concat((comb,dumcols),axis=1)
comb=comb.drop('ProductCategory',axis=1)
comb=comb.drop('year',axis=1)
comb=comb.drop('month',axis=1)

In [89]:
comb_train=comb[comb['data']=='train']
comb_train.columns

Index(['Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'Sales(In ThousandDollars)', 'data', 'year_2009', 'year_2010',
       'year_2011', 'year_2012', 'year_2013', 'year_2014', 'year_2015',
       'month_1', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6',
       'month_7', 'month_8', 'month_9', 'month_10', 'month_11', 'month_12',
       'ProductCategory_MenClothing', 'ProductCategory_OtherClothing',
       'ProductCategory_WomenClothing'],
      dtype='object')

In [90]:
comb_test=comb[comb['data']=='test']

In [91]:
comb_train=comb_train.drop('data',axis=1)
comb_test=comb_test.drop('data',axis=1)
comb_test=comb_test.drop('Sales(In ThousandDollars)',axis=1)
# Data Cleaning for the test and train data is completed 
# we gotta use only the comb_train data for building and  validatingthe model 
# And the comb_test data for testing

In [92]:
X=comb_train.drop('Sales(In ThousandDollars)',axis=1)
y=comb_train['Sales(In ThousandDollars)']

In [93]:
X.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,year_2009,year_2010,year_2011,year_2012,year_2013,year_2014,year_2015,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12,ProductCategory_MenClothing,ProductCategory_OtherClothing,ProductCategory_WomenClothing
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
4,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0

In [94]:
y.head()

0    1755.0
1     524.0
2     936.0
3    1729.0
4     496.0
Name: Sales(In ThousandDollars), dtype: float64

sns.pairplot(X)

In [95]:
X.isnull().sum()

Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
year_2009                                                            0
year_2010                                                            0
year_2011                                                            0
year_2012                                                            0
year_2013                                                            0
year_2014                                                            0
year_2015                                                            0
month_1                                                              0
month_2                                                              0
month_3                                                              0
month_4                                                              0
month_5                                                              0
month_6                                                              0
month_7                                                              0
month_8                                                              0
month_9                                                              0
month_10                                                             0
month_11                                                             0
month_12                                                             0
ProductCategory_MenClothing                                          0
ProductCategory_OtherClothing                                        0
ProductCategory_WomenClothing                                        0
dtype: int64

In [96]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state = 7,test_size=0.30)

### Linear Regression

In [97]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [98]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [99]:
y_pred=lr.predict(X_test)

In [100]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [101]:
rmse=mean_squared_error(y_test,y_pred)
rmse

171564.73969767368

In [102]:
from sklearn.metrics import r2_score
R2_lr=r2_score(y_test,y_pred)
print('R squared value for Linear Regression model is :', R2_lr)

R squared value for Linear Regression model is : 0.9141222588983395

y_pred=pd.DataFrame(y_pred,columns=['Sales'])
y_pred.to_csv('EnaSub1.csv')

### Random Forest Regressor

In [103]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=55,random_state=25)

In [104]:
rf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=55,
                      n_jobs=None, oob_score=False, random_state=25, verbose=0,
                      warm_start=False)

In [105]:
y_pred_rf_val=rf.predict(X_test)
y_pred_rf_train=rf.predict(X_train)

In [106]:
r2_rfr_TRN=r2_score(y_train,y_pred_rf_train)
r2_rfr_TRN

0.9911304291614523

In [107]:
r2_rfr=r2_score(y_test,y_pred_rf_val)
r2_rfr

0.9336700451144155

In [108]:
y_pred_rfr=rf.predict(comb_test)

In [109]:
y_pred_rfr=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':y_pred_rfr})
y_pred_rfr.to_csv('EnaSub_rfr.csv')

## TOPT Regressor
#### Auto ML

from tpot import TPOTRegressor
tpot = TPOTRegressor(generations=7, population_size=20, cv=6,random_state=22, verbosity=2)
tpot.fit(X_train, y_train)

tpot.score(X_test, y_test)

tpot.export('tpot_pipeline.py')

y_predtp=tpot.predict(X_test)
y_predtpt_trn=tpot.predict(X_train)

r2_tpt_trn=r2_score(y_train,y_predtpt_trn)
r2_tpt_trn

r2_tpt=r2_score(y_test,y_predtp)
rmse_tpt=mean_squared_error(y_test,y_predtp)
(np.sqrt(rmse_tpt),r2_tpt)

y_predtpt=tpot.predict(comb_test)
y_predtpt=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':y_predtpt})
y_predtpt.to_csv('EnaSub_tpt_2.csv')

### XG boost Regressor

In [110]:
import xgboost as xgb
xg_reg = xgb.XGBRegressor(objective ='reg:linear', learning_rate = 0.5,
                max_depth = 5, alpha = 100, n_estimators = 100,booster='gblinear')

In [111]:
xg_reg.fit(X_train,y_train)

[11:43:46] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=100, base_score=0.5, booster='gblinear', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.5, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [112]:
y_pred_xgb = xg_reg.predict(X_test)

In [113]:
r2_xgb=r2_score(y_test,y_pred_xgb)
r2_xgb

0.28656608159301733

### Adaboost

In [114]:
from sklearn.ensemble import AdaBoostRegressor

In [115]:
adb=AdaBoostRegressor( base_estimator=None,
    n_estimators=50,
    learning_rate=0.15,
    loss='linear',
    random_state=24)

In [116]:
adb.fit(X_train,y_train)

AdaBoostRegressor(base_estimator=None, learning_rate=0.15, loss='linear',
                  n_estimators=50, random_state=24)

In [117]:
ypredtrn_adb=adb.predict(X_train)
ypredtst_adb=adb.predict(X_test)

In [118]:
r2_xgb_tst=r2_score(y_test,ypredtst_adb)
r2_xgb_trn=r2_score(y_train,ypredtrn_adb)
print('trn :',r2_xgb_trn)
print('test :',r2_xgb_tst)

trn : 0.972945907781669
test : 0.9206814124815329

### Loading the Weather dataset

In [119]:
wt_2009=pd.read_excel('weather.xlsx',sheet_name='2009',na_values=['-','T'])
wt_2010=pd.read_excel('weather.xlsx',sheet_name='2010',na_values=['-','T'])
wt_2011=pd.read_excel('weather.xlsx',sheet_name='2011',na_values=['-','T'])
wt_2012=pd.read_excel('weather.xlsx',sheet_name='2012',na_values=['-','T'])
wt_2013=pd.read_excel('weather.xlsx',sheet_name='2013',na_values=['-','T'])
wt_2014=pd.read_excel('weather.xlsx',sheet_name='2014',na_values=['-','T'])
wt_2015=pd.read_excel('weather.xlsx',sheet_name='2015',na_values=['-','T'])

In [120]:
wt_2015.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009,Jan,1,4,1,-3,-8,-12,-14,46,37,27,1022.0,1018.0,1015.0,16.0,16.0,16.0,27.0,11.0,50.0,0.00,NaN
1,2009,Jan,2,6,4,2,-7,-8,-9,52,43,33,1031.0,1023.0,1016.0,16.0,16.0,16.0,24.0,11.0,40.0,0.00,NaN
2,2009,Jan,3,6,3,1,4,-2,-9,92,68,44,1036.0,1030.0,1019.0,16.0,7.0,1.0,19.0,10.0,29.0,18.03,"Rain , Snow"
3,2009,Jan,4,13,9,5,10,6,-3,93,88,83,1019.0,1012.0,1004.0,16.0,9.0,1.0,47.0,10.0,74.0,7.62,Rain
4,2009,Jan,5,9,2,-6,-3,-12,-19,49,38,26,1030.0,1020.0,1009.0,16.0,16.0,16.0,39.0,17.0,61.0,0.00,NaN

In [121]:
wt_2010['Year'].replace(2009,2010,inplace=True)
wt_2011['Year'].replace(2009,2011,inplace=True)
wt_2012['Year'].replace(2009,2012,inplace=True)
wt_2013['Year'].replace(2009,2013,inplace=True)
wt_2014['Year'].replace(2009,2014,inplace=True)
wt_2015['Year'].replace(2009,2015,inplace=True)
#  Since there is only one null value with year and month missing we gotta drop that row
wt_2014=wt_2014[wt_2014['Year'].isnull()==False].iloc[1:,:]
# wt_2014

In [122]:
# for the other datasets to join with this we gotta have  the same format for all the months
lstmonths=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug','Sep', 'Oct', 'Nov', 'Dec']
j=1
for i in lstmonths:
    wt_2009['Month'].replace(i,j,inplace=True)
    wt_2010['Month'].replace(i,j,inplace=True)
    wt_2011['Month'].replace(i,j,inplace=True)
    wt_2012['Month'].replace(i,j,inplace=True)
    wt_2013['Month'].replace(i,j,inplace=True)
    wt_2014['Month'].replace(i,j,inplace=True)
    wt_2015['Month'].replace(i,j,inplace=True)
    j=j+1
col1=wt_2014.columns[:-1]
for i in col1:
    wt_2014[i]=wt_2014[i].astype('float')

concatenating all the year data to get the consolidated data

In [123]:
wt_2009[['Month','Year']]=wt_2009[['Month','Year']].astype('object')
wt_2010[['Month','Year']]=wt_2010[['Month','Year']].astype('object')
wt_2011[['Month','Year']]=wt_2011[['Month','Year']].astype('object')
wt_2012[['Month','Year']]=wt_2012[['Month','Year']].astype('object')
wt_2013[['Month','Year']]=wt_2013[['Month','Year']].astype('object')
wt_2014[['Month','Year']]=wt_2014[['Month','Year']].astype('object')
wt_2015[['Month','Year']]=wt_2015[['Month','Year']].astype('object')

In [124]:
wt_2009=wt_2009.drop(['WeatherEvent'],axis=1)
wt_2010=wt_2010.drop(['WeatherEvent'],axis=1)
wt_2011=wt_2011.drop(['WeatherEvent'],axis=1)
wt_2012=wt_2012.drop(['WeatherEvent'],axis=1)
wt_2013=wt_2013.drop(['WeatherEvent'],axis=1)
wt_2014=wt_2014.drop(['WeatherEvent'],axis=1)
wt_2015=wt_2015.drop(['WeatherEvent'],axis=1)

In [125]:
cols=wt_2009.columns
wt9=wt_2009.groupby(by=['Month'])[cols].mean()
wt9['Year']=2009

wt10=wt_2010.groupby(by=['Month'])[cols].mean()
wt10['Year']=2010

wt11=wt_2011.groupby(by=['Month'])[cols].mean()
wt11['Year']=2011

wt12=wt_2012.groupby(by=['Month'])[cols].mean()
wt12['Year']=2012

wt13=wt_2013.groupby(by=['Month'])[cols].mean()
wt13['Year']=2013

wt14=wt_2014.groupby(by=['Month'])[cols].mean()
wt14['Year']=2014

wt15=wt_2015.groupby(by=['Month'])[cols].mean()
wt15['Year']=2015

In [126]:
wt=pd.concat((wt9,wt10,wt11,wt12,wt13,wt14,wt15),sort=True)

In [127]:
#  reset_index to bring the month to columns which went to index when group by was applied
wt=wt.reset_index()

In [128]:
#  when converted from index to column it will be int type , so we gotta change it back to object 
wt['Month']=wt['Month'].astype('object')
wt['Year']=wt['Year'].astype('object')

In [129]:
wt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 22 columns):
Month                          84 non-null object
Day                            84 non-null float64
Dew Point avg (°C)             84 non-null float64
Dew Point high (°C)            84 non-null float64
Dew Point low (°C)             84 non-null float64
Humidity (%) avg               84 non-null float64
Humidity (%) high              84 non-null float64
Humidity (%) low               84 non-null float64
Precip. (mm) sum               84 non-null float64
Sea Level Press. (hPa) avg     84 non-null float64
Sea Level Press. (hPa) high    84 non-null float64
Sea Level Press. (hPa) low     84 non-null float64
Temp avg (°C)                  84 non-null float64
Temp high (°C)                 84 non-null float64
Temp low (°C)                  84 non-null float64
Visibility (km) avg            84 non-null float64
Visibility (km) high           84 non-null float64
Visibility (km) low            84 non-null float64
Wind (km/h) avg                84 non-null float64
Wind (km/h) high               84 non-null float64
Wind (km/h) low                84 non-null float64
Year                           84 non-null object
dtypes: float64(20), object(2)
memory usage: 14.5+ KB

wt['Wind\xa0(km/h) avg'].unique()

wt.Year.unique()

since we donot have the day wise data in the train and macro economics we gotta drop that column and we perform our analysis based on year and month wise

In [130]:
wt=wt[cols]

In [131]:
wt=wt.drop('Day',axis=1)

for i in wt.columns:
    print(i)
    print(wt[i].unique(),'\n')

In [132]:
wt.isnull().sum()

Year                           0
Month                          0
Temp high (°C)                 0
Temp avg (°C)                  0
Temp low (°C)                  0
Dew Point high (°C)            0
Dew Point avg (°C)             0
Dew Point low (°C)             0
Humidity (%) high              0
Humidity (%) avg               0
Humidity (%) low               0
Sea Level Press. (hPa) high    0
Sea Level Press. (hPa) avg     0
Sea Level Press. (hPa) low     0
Visibility (km) high           0
Visibility (km) avg            0
Visibility (km) low            0
Wind (km/h) low                0
Wind (km/h) avg                0
Wind (km/h) high               0
Precip. (mm) sum               0
dtype: int64

wt is kept undisturbed for further usage

### Pandas Profiling

import pandas_profiling 
wt.profile_report(style={'full_width':True})
profile = wt.profile_report()

rejected_variables = profile.get_rejected_variables(threshold=0.9)
#  we can remove these rejected_variables those having high correlation 
profile = wt.profile_report(title='Pandas Profiling Report_walmart')
profile.to_file(output_file="walmart_pandas_profiling_output.html")

import pandas_profiling  as pp
pp.ProfileReport(wt)

cl=wt.columns
lll=wt[cl]

cols_pp=['Year', 'Month', 'Temp_avg_(°C)', 'Dew_Point_avg_(°C)', 'Humidity\xa0(%)_avg','Sea_Level_Press.\xa0(hPa)_avg','Visibility\xa0(km)_high','Visibility\xa0(km)_avg','Wind\xa0(km/h)_avg', 'Wind\xa0(km/h)_high', 'Precip.\xa0(mm)_sum']

wt_pp=wt[cols_pp]

In [133]:
# Here ends the preprocessing of weather dataset
# Here on we continue to dummify the objective columns and remove the originals
# Weather dataset after dummification is stored in the new dataset called wtf--> Weather Final

wtf=wt

In [134]:
# Now combing the wtf and comb_other for further calculations
comb_other.info()
wt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 239
Data columns (total 20 columns):
year                                                                 240 non-null object
month                                                                240 non-null object
Monthly Nominal GDP Index (inMillion$)                               240 non-null float64
Monthly Real GDP Index (inMillion$)                                  240 non-null float64
CPI                                                                  240 non-null float64
unemployment rate                                                    240 non-null float64
CommercialBankInterestRateonCreditCardPlans                          240 non-null float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    240 non-null float64
Earnings or wages  in dollars per hour                               240 non-null float64
Cotton Monthly Price - US cents per Pound(lbs)                       240 non-null float64
Change(in%)                                                          240 non-null float64
Average upland planted(million acres)                                240 non-null float64
Average upland harvested(million acres)                              240 non-null float64
yieldperharvested acre                                               240 non-null int64
Production (in  480-lb netweright in million bales)                  240 non-null float64
Mill use  (in  480-lb netweright in million bales)                   240 non-null float64
Exports                                                              240 non-null float64
ProductCategory                                                      240 non-null object
Sales(In ThousandDollars)                                            204 non-null float64
data                                                                 240 non-null object
dtypes: float64(15), int64(1), object(4)
memory usage: 39.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 21 columns):
Year                           84 non-null object
Month                          84 non-null object
Temp high (°C)                 84 non-null float64
Temp avg (°C)                  84 non-null float64
Temp low (°C)                  84 non-null float64
Dew Point high (°C)            84 non-null float64
Dew Point avg (°C)             84 non-null float64
Dew Point low (°C)             84 non-null float64
Humidity (%) high              84 non-null float64
Humidity (%) avg               84 non-null float64
Humidity (%) low               84 non-null float64
Sea Level Press. (hPa) high    84 non-null float64
Sea Level Press. (hPa) avg     84 non-null float64
Sea Level Press. (hPa) low     84 non-null float64
Visibility (km) high           84 non-null float64
Visibility (km) avg            84 non-null float64
Visibility (km) low            84 non-null float64
Wind (km/h) low                84 non-null float64
Wind (km/h) avg                84 non-null float64
Wind (km/h) high               84 non-null float64
Precip. (mm) sum               84 non-null float64
dtypes: float64(19), object(2)
memory usage: 13.9+ KB

In [135]:
wtf.head()

,Year,Month,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum
0,2009,1,0.741935,-2.096774,-5.322581,-6.096774,-9.903226,-14.000000,71.774194,57.354839,42.322581,1021.290323,1015.967742,1010.516129,16.000000,14.000000,11.451613,27.000000,12.000000,39.322581,2.803704
1,2009,2,6.964286,2.785714,-1.642857,-2.464286,-6.392857,-10.571429,69.535714,54.000000,38.107143,1021.714286,1017.071429,1012.464286,16.000000,15.178571,13.285714,27.928571,12.214286,41.642857,0.840385
2,2009,3,9.838710,5.967742,1.774194,0.258065,-2.903226,-6.741935,74.096774,57.064516,39.548387,1025.096774,1021.064516,1017.032258,16.000000,14.258065,10.677419,27.000000,11.387097,38.612903,1.481667
3,2009,4,17.100000,12.733333,7.833333,6.233333,2.533333,-1.200000,75.466667,55.700000,35.733333,1018.833333,1014.533333,1010.433333,15.900000,14.066667,10.866667,27.300000,11.366667,39.566667,4.411852
4,2009,5,21.354839,17.000000,12.483871,12.967742,10.096774,6.516129,85.645161,68.516129,50.935484,1020.419355,1017.161290,1014.129032,15.903226,12.451613,9.000000,22.379310,8.000000,32.620690,4.527586

In [136]:
comb_other.rename(columns={'year':'Year','month':'Month'},inplace=True)

comb_other['Year'].unique()

In [137]:
comb_wtf=pd.merge(comb_other, wtf, left_on=['Year','Month'], right_on=['Year','Month'])

In [138]:
comb_wtf.columns

Index(['Year', 'Month', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'ProductCategory', 'Sales(In ThousandDollars)', 'data',
       'Temp high (°C)', 'Temp avg (°C)', 'Temp low (°C)',
       'Dew Point high (°C)', 'Dew Point avg (°C)', 'Dew Point low (°C)',
       'Humidity (%) high', 'Humidity (%) avg', 'Humidity (%) low',
       'Sea Level Press. (hPa) high', 'Sea Level Press. (hPa) avg',
       'Sea Level Press. (hPa) low', 'Visibility (km) high',
       'Visibility (km) avg', 'Visibility (km) low', 'Wind (km/h) low',
       'Wind (km/h) avg', 'Wind (km/h) high', 'Precip. (mm) sum'],
      dtype='object')

In [139]:
obj2=comb_wtf.select_dtypes('object').columns
obj2=obj2[:-1] # Excluding the data column

In [140]:
obj2

Index(['Year', 'Month', 'ProductCategory'], dtype='object')

In [141]:
dumcols2=pd.get_dummies(comb_wtf[obj2])
# dumcols2

In [142]:
comb_wtf=pd.concat((comb_wtf,dumcols2),axis=1)

In [143]:
comb_wtf=comb_wtf.drop(obj2,axis=1)

In [144]:
comb_wtf.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Sales(In ThousandDollars),data,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,Year_2009,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12,ProductCategory_MenClothing,ProductCategory_OtherClothing,ProductCategory_WomenClothing
0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1755.0,train,0.741935,-2.096774,-5.322581,-6.096774,-9.903226,-14.000000,71.774194,57.354839,42.322581,1021.290323,1015.967742,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,2.803704,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,524.0,train,0.741935,-2.096774,-5.322581,-6.096774,-9.903226,-14.000000,71.774194,57.354839,42.322581,1021.290323,1015.967742,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,2.803704,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,936.0,train,0.741935,-2.096774,-5.322581,-6.096774,-9.903226,-14.000000,71.774194,57.354839,42.322581,1021.290323,1015.967742,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,2.803704,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,1729.0,train,6.964286,2.785714,-1.642857,-2.464286,-6.392857,-10.571429,69.535714,54.000000,38.107143,1021.714286,1017.071429,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,0.840385,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
4,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,496.0,train,6.964286,2.785714,-1.642857,-2.464286,-6.392857,-10.571429,69.535714,54.000000,38.107143,1021.714286,1017.071429,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,0.840385,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0

In [145]:
comb_wtf.shape

(240, 58)

In [146]:
cwt_train=comb_wtf[comb_wtf['data']=='train']
cwt_test=comb_wtf[comb_wtf['data']=='test']

In [147]:
cwt_train=cwt_train.drop('data',axis=1)
cwt_test=cwt_test.drop('data',axis=1)
cwt_test=cwt_test.drop('Sales(In ThousandDollars)',axis=1)

In [148]:
X2=cwt_train.drop('Sales(In ThousandDollars)',axis=1)
y2=cwt_train['Sales(In ThousandDollars)']

In [149]:
X_train2,X_test2,y_train2,y_test2=train_test_split(X2,y2,test_size=0.30)

In [150]:
X_train2.shape

(142, 56)

### Linear Regression After Weather

In [151]:
lr.fit(X_train2,y_train2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [152]:
ypred_lr2=lr.predict(X_train2)
mse_lr2=mean_squared_error(y_train2,ypred_lr2)
r2_lr2=r2_score(y_train2,ypred_lr2)
print('mse_train2:',mse_lr2)
print('r2_train2:',r2_lr2,'\n')

ypred_lr2_tst=lr.predict(X_test2)
mse_lr2_tst=mean_squared_error(y_test2,ypred_lr2_tst)
r2_lr2_tst=r2_score(y_test2,ypred_lr2_tst)
print('mse:',mse_lr2_tst)
print('r2_test2:',r2_lr2_tst)

mse_train2: 97386.31808384902
r2_train2: 0.941669163625345

mse: 163095.0741520373
r2_test2: 0.8759794665698515

### Random Forest Regressor after weather

In [153]:
rf=RandomForestRegressor(n_estimators=55,random_state=25)

In [154]:
rf.fit(X_train2,y_train2)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=55,
                      n_jobs=None, oob_score=False, random_state=25, verbose=0,
                      warm_start=False)

In [155]:
ypred_rf2_trn=rf.predict(X_train2)
ypred_rf2=rf.predict(X_test2)

In [156]:
mse_rf2_trn=mean_squared_error(y_train2,ypred_rf2_trn)
r2_rf2_trn=r2_score(y_train2,ypred_rf2_trn)


mse_rf2=mean_squared_error(y_test2,ypred_rf2)
r2_rf2=r2_score(y_test2,ypred_rf2)

In [157]:
print('mse_rf2_train:',np.sqrt(mse_rf2_trn))
print('r2_rf2_train:',r2_rf2_trn,'\n')

print('mse_rf2_test:',np.sqrt(mse_rf2))
print('r2_rf2_test:',r2_rf2)

mse_rf2_train: 143.96701584239548
r2_rf2_train: 0.9875855849139182

mse_rf2_test: 371.1633489910216
r2_rf2_test: 0.8952430320619124

y_pred_rf2=rf.predict(cwt_test)
y_pred_rf2=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':y_pred_rf2})
y_pred_rf2.to_csv('Enasubwtrf.csv')

### Recursive Feature Elimination (RFE)

In [158]:
from sklearn.feature_selection import RFE

rfe = RFE(rf,30)
rfe = rfe.fit(X_train2,y_train2)

print(rfe.support_)
print(rfe.ranking_)

idc_rfe = pd.DataFrame({"rfe_support" :rfe.support_,
                       "columns" :X_train2.columns ,
                       "ranking" : rfe.ranking_,
                      })
cols = idc_rfe[idc_rfe["rfe_support"] == True]["columns"].tolist()

X_train_rfe=X_train2[cols]
X_test_rfe=X_test2[cols]

[ True  True  True  True False  True  True  True  True False  True  True
  True False  True  True False  True  True  True  True  True False  True
  True  True False False  True  True False  True False  True False False
 False False False False False  True False False False False False False
 False False False False  True  True  True  True]
[ 1  1  1  1  8  1  1  1  1  5  1  1  1  3  1  1  7  1  1  1  1  1 10  1
  1  1  2  6  1  1  9  1  4  1 20 24 16 13 11 14 27  1 15 17 25 12 19 26
 23 22 18 21  1  1  1  1]

In [159]:
# Applying Rf reg after RFE
rf=RandomForestRegressor(n_estimators=100,random_state=31)
rf.fit(X_train_rfe,y_train2)

y_predrf2_rfe=rf.predict(X_test_rfe)

mse_rf2_rfe=mean_squared_error(y_test2,y_predrf2_rfe)
r2_rf2_rfe=r2_score(y_test2,y_predrf2_rfe)

print('mse_rfe_rf2_test:',np.sqrt(mse_rf2_rfe))
print('r2_rfe_rf2_test:',r2_rf2_rfe)

mse_rfe_rf2_test: 350.3666795290236
r2_rfe_rf2_test: 0.906653434182851

### Tpot Regressor After Weather and RFE

from tpot import TPOTRegressor
tpot = TPOTRegressor(generations=7, population_size=30, cv=7,random_state=31, verbosity=3)
tpot.fit(X_train2, y_train2)

tpot.fitted_pipeline_

tpot.score(X_test2, y_test2)

y_predtpt2=tpot.predict(X_test2)

mse_tpt2=np.sqrt(mean_squared_error(y_test2,y_predtpt2))
r2_tpt2=r2_score(y_test2,y_predtpt2)

print('mse_tpt2:',mse_tpt2)
print('r2_tpt2:',r2_tpt2)

cwt_test_rfe=cwt_test[cols]
# y_predtpt_final=tpot.predict(cwt_test_rfe)
cwt_test_rfe.shape

y_predtpt_final=rf.predict(cwt_test)
y_predtpt_final=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':y_predtpt_final})
y_predtpt_final.to_csv('Enasubtptfinal.csv')
# y_predtpt_final

Applying the best estimator from tpot results

### ExtraTreesRegressor

In [160]:
from sklearn.ensemble import ExtraTreesRegressor
etr=ExtraTreesRegressor(bootstrap=True,criterion='mse',
                        max_features=1.0,min_samples_leaf=1,min_samples_split=4,n_estimators=100)

In [161]:
etr.fit(X_train_rfe,y_train2)

ExtraTreesRegressor(bootstrap=True, criterion='mse', max_depth=None,
                    max_features=1.0, max_leaf_nodes=None,
                    min_impurity_decrease=0.0, min_impurity_split=None,
                    min_samples_leaf=1, min_samples_split=4,
                    min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
                    oob_score=False, random_state=None, verbose=0,
                    warm_start=False)

In [162]:
y_pred_etr=etr.predict(X_test_rfe)

In [163]:
rmse_etr=np.sqrt(mean_squared_error(y_test,y_pred_etr))
rmse_etr

1751.73986015501

In [164]:
r2=r2_score(y_test,y_pred_etr)
r2

-0.5360020710530269

### PCA

we need to scale the data before applying PCA

In [ ]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
cols_ss=X_train2.columns
X_train_ss=pd.DataFrame(ss.fit_transform(X_train2),columns=cols_ss)
X_test_ss=pd.DataFrame(ss.transform(X_test2),columns=cols_ss)

In [ ]:
from sklearn.decomposition import PCA
pca=PCA()

pca.fit_transform

In [ ]:
pca = PCA(n_components=2)

X_train_ss_cen = X_train_ss - X_train_ss.mean(axis=0)
X_train_pca = pca.fit_transform(X_train_ss_cen)

In [ ]:
X_test_ss_cen=X_test_ss-X_test_ss.mean(axis=0)
X_test_pca = pca.transform(X_test_ss_cen)

X_train_pca
X_test_pca

In [ ]:
# Applying  Adaboost after PCA
adb=AdaBoostRegressor( base_estimator=None,
    n_estimators=50,
    learning_rate=0.15,
    loss='linear',
    random_state=24)

adb.fit(X_train_pca,y_train2)

In [ ]:
y_pred_pca_ada=adb.predict(X_test_pca)

In [ ]:
rmse_pca=np.sqrt(mean_squared_error(y_test2,y_pred_pca_ada))
rmse_pca

In [ ]:
r2_score(y_test2,y_pred_pca_ada)

In [ ]:
cwt_test.shape

In [ ]:
cwt_test_pca=ss.transform(cwt_test)
cwt_test_pca=pca.transform(cwt_test_pca)
y_pred_pca_sub=adb.predict(cwt_test_pca)
y_pred_pca_sub=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':y_pred_pca_sub})
y_pred_pca_sub.to_csv('Enasub_pca.csv')
# y_predtpt_final

### ADA BOOST

In [ ]:

rf=KNeighborsRegressor()
adb=AdaBoostRegressor(base_estimator=rf,n_estimators=9,learning_rate=0.9,random_state=30)
adb.fit(X_train2,y_train2)
y_pred_abg2=adb.predict(X_test2)
mse_abg2=mean_squared_error(y_test2,y_pred_abg2)
r2_abg=r2_score(y_test2,y_pred_abg2)
(np.sqrt(mse_abg2),r2_abg)

##### Analysis is in progress...!

#####

##### Enavamshi Gadikota
enavamshi@outlook.in <br>
+91 8939195694 <br>
Data Science professional